        <footer class="footer">
          <div class="container">
            <p class="text-muted">&copy; ERC Handmade 2017 - Maria Clancy | <a class="text-muted-anchor" href="/home">Home</a> | 
              <a class="text-muted-anchor" href="/about">About</a> | <a class="text-muted-anchor" href="/contact">Contact</a>
              <a id="etsy-icon" href="https://www.etsy.com/shop/EmmyRaeHandmade?ref=search_shop_redirect"><i class="fa fa-etsy icon-links"></i></a>
              <!--<a href="https://www.facebook.com/"><i class="fa fa-facebook-official icon-links"></i></a> |--> <a id="insta-icon" href="https://www.instagram.com/maryjf20/"><i class="fa fa-instagram icon-links"></i></a>
            </p>
        </footer>
        <script src="https://code.jquery.com/jquery-3.0.0.js"></script> 
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </body>
</html>