<% include ./partials/header %>

<div class="container">
    <div class="well">
        <h1 id="about">About Me</h1>
        <hr>
        <img id="about-img" class="img-responsive img-rounded pull-right" src="/assets/mom_and_baby3.jpeg" alt="LOGO">
        <p class="about">I love makeup, children, and most of all - my baby Emmy and my honey!!</p>
        <p class="about">
            Bacon ipsum dolor amet kielbasa landjaeger cupim tail swine picanha pork loin beef pork belly. 
            Drumstick spare ribs pork loin beef ribs ball tip chicken sirloin meatloaf sausage swine. 
            T-bone fatback shank ham, shankle ham hock corned beef picanha rump pancetta. 
            Meatloaf beef ribs landjaeger filet mignon cow jowl pork chop pig pancetta spare ribs drumstick. 
            Jowl tri-tip turducken filet mignon beef ribs. 
            Pastrami meatball rump pancetta landjaeger short ribs flank swine burgdoggen ham.
        </p>

        <p class="about">
            Ground round meatball short loin, ham hock shoulder bresaola strip steak. 
            Prosciutto jowl andouille pork loin turducken t-bone ham meatball ground round pastrami porchetta. 
            Ball tip drumstick ham hock meatloaf rump kevin, ground round chuck. 
            Corned beef landjaeger spare ribs flank fatback boudin tail alcatra meatball.
        </p>
    </div>
</div>

<% include ./partials/footer %>