<% include ./partials/header %>

<div class="container">
    <div class="well">
        <h1>Contact Me</h1>
        <hr>
        <p>Email: <a class="contact-links" href="mailto:erchandmade@gmail.com">erchandmade@gmail.com</a></p>
        <p>Also, reach out to me on my <a href="https://www.instagram.com/maryjf20/" class="contact-links">Instagram</a> 
        page as well as stop by the <a class="contact-links" href="https://www.etsy.com/shop/EmmyRaeHandmade?ref=search_shop_redirect">Etsy</a> shop to find the perfect handmade gift!</p>
    </div>
</div>

<% include ./partials/footer %>