<% include ./partials/header %>

<div class="container">
    <div class="jumbotron">
        <img class="img-responsive center-block img-circle" src="/assets/logo.png" alt="LOGO">
    </div>
    
    <div class="row">
        <div class="col-md-8">
            <p>
                Welcome to ERC Handmade! A maker of custom home decor and children accessories for any occasion. Every item in 
                my shop is either made by myself or my partner, and made in my home studio. Thank you for visiting my website! 
            </p>
            </br>
            <p>
                I am currently running 2-3 business days production time. For bulk orders of 10+ bows, production time will vary. (current as of 03/22/2017) 
            </p>
            </br>
            <p>
                *Production time is in addition to the time it takes USPS to deliver your item once I have taken it to the post office. I do not fill orders 
                on holidays or weekends. For large orders please allow a week's notice so I can make sure I have the bows ready for delivery. Thank you*
            </p>
            </br>
            <p>
                My production times can vary depending on workload and material inventory. Always check with me personally if you do not find a style or color 
                you would like, and if you are looking to have an item in hand in less than seven business days please contact me. I do offer a variety of shipping speeds. 
            </p>
        </div>
        
        <div class="col-md-4">
            <h2>Latest Products</h2>
            <ul>
                <li>Handcrafted bows!</li>
                <!--<li>PRODUCT #2</li>-->
                <!--<li>PRODUCT #3</li>-->
            </ul>
            
            <!--<h2>New Designs</h2>-->
            <!--<ul>-->
            <!--    <li>DESIGN #1</li>-->
            <!--    <li>DESIGN #2</li>-->
            <!--    <li>DESIGN #3</li>-->
            <!--</ul>-->
        </div>
    </div>
    
</div>

<% include ./partials/footer %>