<% include ./partials/header %>

<div class="container">
    <div class="page-header">
        <h1>Products</h1>
    </div>
    <div class="row" id="product-row">
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="https://img0.etsystatic.com/171/0/11568665/il_570xN.1166440620_7x3a.jpg">
                <div class="caption">
                    <p><strong><a href="https://www.etsy.com/listing/519943439/11-girls-turquoise-bow?ref=shop_home_active_1">Turquoise Bow</a></strong> - $4.30</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="https://img1.etsystatic.com/154/0/11568665/il_570xN.1213659467_c1ox.jpg">
                <div class="caption">
                    <p><strong><a href="https://www.etsy.com/listing/519659193/3-girls-orange-flower-bow?ref=shop_home_active_2">Orange Flower Bow</a></strong> - $4.30</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="https://img0.etsystatic.com/157/0/11568665/il_570xN.1166441632_4gec.jpg">
                <div class="caption">
                    <p><strong><a href="https://www.etsy.com/listing/519658185/2-girls-blue-star-bow?ref=shop_home_active_3">Blue Star Bow</a></strong> - $4.30</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="https://img0.etsystatic.com/146/0/11568665/il_570xN.1166441050_gauz.jpg">
                <div class="caption">
                    <p><strong><a href="https://www.etsy.com/listing/519656423/1-girls-pink-and-black-bow?ref=shop_home_active_4">Pink and Black Bow</a></strong> - $4.30</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="https://img0.etsystatic.com/175/0/11568665/il_570xN.1166447028_qhj6.jpg">
                <div class="caption">
                    <p><strong><a href="https://www.etsy.com/listing/519664491/9-red-hello-kitty-bow?ref=shop_home_active_5">Red Hello Kitty Bow</a></strong> - $4.30</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="https://img0.etsystatic.com/157/0/11568665/il_570xN.1166446432_1g88.jpg">
                <div class="caption">
                    <p><strong><a href="https://www.etsy.com/listing/519663787/8-girls-strawberry-bow?ref=shop_home_active_6">Strawberry Bow</a></strong> - $4.30</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="https://img0.etsystatic.com/152/0/11568665/il_570xN.1166445382_qq5f.jpg">
                <div class="caption">
                    <p><strong><a href="https://www.etsy.com/listing/519662789/7-girls-green-flower-bow?ref=shop_home_active_7">Green Flower Bow</a></strong> - $4.30</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="https://img0.etsystatic.com/158/0/11568665/il_570xN.1166443874_2nft.jpg">
                <div class="caption">
                    <p><strong><a href="https://www.etsy.com/listing/519661029/5-girls-red-and-green-hello-kitty-bow?ref=shop_home_active_8">Red and Green Hello Kitty Bow</a></strong> - $4.30</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="https://img0.etsystatic.com/142/0/11568665/il_570xN.1166442722_3bxv.jpg">
                <div class="caption">
                    <p><strong><a href="https://www.etsy.com/listing/505857506/10-girls-pink-zebra-bow?ref=shop_home_active_9">Pink Zebra Bow</a></strong> - $4.30</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="https://img1.etsystatic.com/177/0/11568665/il_570xN.1213661833_mksj.jpg">
                <div class="caption">
                    <p><strong><a href="https://www.etsy.com/listing/505854210/6-girls-flower-bow?ref=shop_home_active_10">Flower Bow</a></strong> - $4.30</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="https://img1.etsystatic.com/179/0/11568665/il_570xN.1213660557_8ud1.jpg">
                <div class="caption">
                    <p><strong><a href="https://www.etsy.com/listing/505852252/4-girls-colorful-bow?ref=shop_home_active_11">Colorful Bow</a></strong> - $4.30</p>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ./partials/footer %>